<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contato.css" />
    <link rel="icon" href="/images/desenho-de-pastel-png-Imagem-hd-removebg-preview.png" type="image/x-icon">
    <title>Contato</title>
</head>

<body>
    <header>
        <nav>
            <div class="cabeca">
                <img src="desenho-de-pastel-png-Imagem-hd-removebg-preview.png" class="img-logo" />
                <div>
                    <a href="/">Home</a>
                    <a href="/about">Sobre</a>
                    <a href="/tec">Tecnologias</a>
                    <a href="/contact">Contato</a>
                </div>
            </div>
        </nav>
    </header>

    <form action="/login" method="POST">
        <h1 style="margin-bottom: 30px;"><b>CONTATO</b></h1>
        <label for="nome"><b>Nome</b></label>
        <input type="text" id="nome" name="nome" required>

        <label for="email"><b>E-mail</b></label>
        <input type="email" id="email" name="email" required>

        <label for="assunto"><b>Assunto</b></label>
        <input type="text" id="assunto" name="assunto" required>

        <label for="mensagem"><b>Mensagem</b></label>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

        <input type="submit" value="Enviar">
    </form>
    <footer>
        <a style="text-decoration: none; color: white;" href="" target="_blank">SOBRE</a>
    </footer>
</body>

</html>