* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-color: #F6F1E9;
    z-index: -1;
}

.cabeca {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 120;
}

.img-logo {
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 50px;

}

header {
    background-color: #FFB84C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 120;
    width: 100%;
}

nav a {

    display: inline;
    margin-right: 60px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    max-width: 96%;
    max-height: 300px;
    min-height: 50px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
footer {

    background-color: #FFB84C;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}
