* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-color: #F6F1E9;
    z-index: -1;
}

.cabeca {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 120;
}

.img-logo {
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 50px;

}

header {
    background-color: #FFB84C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 120;
    width: 100%;
}

nav a {

    display: inline;
    margin-right: 60px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.formulario {
    width: 35%;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 10%;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.butao {
    display: block;
    width: 50%;
    height: 10%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #ED2B2A;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

footer {

    background-color: #FFB84C;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}