/* Remova a propriedade border: 0 do seletor * */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    background-color: #F6F1E9;
    z-index: -1;
}

.cabeca {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 120px;
}

.img-logo {
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 50px;
}

header {
    background-color: #FFB84C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
}

nav a {
    display: inline;
    margin-right: 60px;
    color: #ffffff;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #000;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
}

.idd {
    width: 5%;
}

.quantidade {
    width: 10%;
}

.preco {
    width: 20%;
}

th {
    background-color: #f2f2f2;
}

tbody,
thead {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #000;
    text-align: center;
}
.tabela{
    width: 60%;
}
#pedidos{
    background-color: #000;
}
footer {
    background-color: #FFB84C;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.search-bar {
    margin-right:40.05%;
    width: 20%;
    height: 5%;
}

.search-bar input {
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
.novo-pedido-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.novo-pedido-button:hover {
    background-color: #45a049;
}