* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-color: #F6F1E9;
  z-index: -1;
}


.cabeca {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 120;
}

.img-logo {
  background-size: contain;
  width: 120px;
  height: 120px;
  margin-left: 50px;

}

header {
  background-color: #FFB84C;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 120;
  width: 100%;
}

nav a {

  display: inline;
  margin-right: 60px;
  color: #ffffff;
  text-decoration: none;
}

section {
  text-align: center;
}

.color-palette {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.color {
  width: 100px;
  height: 100px;
}

.container-formulario {
  display: inline-block;
  padding: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
}

.container-formulario h2 {
  margin-top: 0;
}


.container-formulario input[type="text"],
.container-formulario input[type="password"],
.container-formulario input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.container-formulario label{
  display: block;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.container-formulario input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.divpastelao{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pastelao{
  margin-right: 100px;
  margin-top: 90px;
  height: 90%;
  width: 70%;
}

.inputao{
  width: 300px;
  border: 1.5px solid #ccc;
  height: 30px;
}
.conta{
  position: absolute;
  bottom: 25%;
}
footer {

  background-color: #FFB84C;
  color: #fff;
  padding: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}