* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F6F1E9;
}

.cabeca {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 120px;
}

.img-logo {
    background-size: contain;
    width: 120px;
    height: 120px;
    margin-left: 50px;
}

header {
    background-color: #FFB84C;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
}

nav a {
    display: inline;
    margin-right: 60px;
    color: #ffffff;
    text-decoration: none;
}

.divisao {
    overflow-y: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
}

main {
    margin: auto;
    text-align: center;
    width: 80%;
}   

section {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.nodejs {
    width: 170px;
    height: 100px;
}

.mustache {
    width: 120px;
    height: 100px;
    margin-right: 20px;
    margin-left: 40px;
}

.express {
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-left: 10px;
}
.mongo{
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-left: 15px;
}
.jwt{
    width: 150px;
    height: 50px;
    margin-right: 35px;
}
.dotenv{
    width: 100px;
    height: 100px;
    margin-right: 60px;
}
.js{
    width: 100px;
    height: 100px;
    margin-right: 45px;
}
.css{
    width: 130px;
    height: 130px;
    margin-right: 65px;
}
h2 {
    color: #FFB84C;
    font-size: 24px;
    height: 28px;
}

.imagem {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {

    background-color: #FFB84C;
    color: #fff;
    padding: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 44px;
    width: 100%;

}